@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  background-image: url("../src/assets/blue-grid-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

