@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: url("../src/assets/background-long.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top center;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

.content-center-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  margin-top: 80px;
}