.page-title {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 450%;
    color: #C6422B;
    line-height: 80%;
}

.page-description {
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
}